<!DOCTYPE html>
<meta>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spotify2kkbox.css') }}">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static', filename='js/step2.js')}}"></script>
    <script src="{{url_for('static', filename='js/step3.js')}}"></script>
    <script src="{{url_for('static', filename='js/step4.js')}}"></script>
</meta>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Spotify2KKBOX</title>
    </head>

    <body>
        <div class="uk-container uk-container-xsmall">
            <div class="uk-height-small uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-background-cover uk-margin-top uk-margin-bottom" data-src="/static/images/logo.png" uk-img>
                <h1 class="uk-margin-small-bottom">Spotify2KKBOX</h1>
                <div>
                    <a href="https://github.com/kaiiiz/Spotify2KKBOX" uk-icon="icon: github; ratio: 1.4" uk-tooltip="title: Source code; pos: bottom"></a>
                    <a href="https://github.com/kaiiiz/Spotify2KKBOX/wiki" uk-icon="icon: file-text; ratio: 1.4" uk-tooltip="title: Documentation; pos: bottom"></a>
                    <a href="https://github.com/kaiiiz/Spotify2KKBOX/wiki/How-to-use%3F" uk-icon="icon: question; ratio: 1.4" uk-tooltip="title: How to use?; pos: bottom"></a>
                </div>
            </div>

            <!-- step1 -->
            <div class="uk-card uk-card-default uk-margin-bottom">
                <!-- status -->
                {% if spotify_outh_status and kkbox_outh_status %}
                    <div id="step1_status" class="uk-card-badge uk-label uk-label-success" uk-tooltip="success">STEP1</div>
                {% else %}
                    <div id="step1_status" class="uk-card-badge uk-label uk-label-danger" uk-tooltip="failed">STEP1</div>
                {% endif %}
                <!-- header -->
                <div class="uk-card-header">
                    <h3 class="uk-text-center uk-card-title">Login</h3>
                </div>
                <!-- body -->
                <div class="uk-card-body uk-text-center">
                    <form class="uk-text-center" action="{{ url_for('login') }}" method="POST">
                        {% if spotify_outh_status %}
                            <button class="uk-button uk-button-default uk-width-1-4 button-success" name="platform" value="spotify">Spotify</button>
                        {% else %}
                            <button class="uk-button uk-button-default uk-width-1-4 uk-button-danger" name="platform" value="spotify">Spotify</button>
                        {% endif %}
                        {% if kkbox_outh_status %}
                            <button class="uk-button uk-button-default uk-width-1-4 button-success" name="platform" value="kkbox">KKBOX</button>
                        {% else %}
                            <button class="uk-button uk-button-default uk-width-1-4 uk-button-danger" name="platform" value="kkbox">KKBOX</button>
                        {% endif %}
                    </form>
                </div>
            </div>

            <!-- step2 -->
            <div class="uk-card uk-card-default uk-margin-bottom">
                <!-- status -->
                {% if kbl_status == "success" %}
                    <div id="step2_status" class="uk-card-badge uk-label uk-label-success" uk-tooltip="success">STEP2</div>
                {% else %}
                    <div id="step2_status" class="uk-card-badge uk-label uk-label-danger" uk-tooltip="failed">STEP2</div>
                {% endif %}
                <!-- header -->
                <div class="uk-card-header">
                    <h3 class="uk-text-center uk-card-title">Upload kbl file</h3>
                </div>
                <!-- body -->
                <div class="uk-card-body uk-text-center">
                    <p>kkbox_ver: <span id="kbl_kkbox_ver">{{ kbl_kkbox_ver }}</span></p>
                    <p>package_ver: <span id="kbl_package_ver">{{ kbl_package_ver }}</span></p>
                    <p>package_descr: <span id="kbl_package_descr">{{ kbl_package_descr }}</span></p>
                    <p>package_packdate: <span id="kbl_package_packdate">{{ kbl_package_packdate }}</span></p>
                </div>
                <!-- footer -->
                <div class="uk-card-footer uk-padding-remove">
                    <div class="js-upload uk-placeholder uk-text-center no-border">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Attach .kbl by dropping them here or</span>
                        <div id="upload_kbl" enctype="multipart/form-data" method="POST" uk-form-custom>
                            <input type="file" multiple>
                            <span class="uk-link">selecting one</span>
                        </div>
                        <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                    </div>
                </div>
            </div>

            <!-- step3 -->
            <div class="uk-card uk-card-default uk-margin-bottom">
                <!-- status -->
                {% if spotify_outh_status and kkbox_outh_status %}
                    <div id="step3_status" class="uk-card-badge uk-label uk-label-success" uk-tooltip="success">STEP3</div>
                {% else %}
                    <div id="step3_status" class="uk-card-badge uk-label uk-label-danger" uk-tooltip="failed">STEP3</div>
                {% endif %}
                <!-- header -->
                <div class="uk-card-header">
                    <h3 class="uk-text-center uk-card-title">Select your Spotify playlists</h3>
                </div>
                <!-- body -->
                <div class="uk-card-body">
                    <div class="uk-text-center">
                        {% if spotify_outh_status %}
                            <button id='get_sp_playlist' class="uk-button uk-button-default uk-width-1-2 button-success">Get Spotify playlist</button>
                        {% else %}
                            <button id='get_sp_playlist' class="uk-button uk-button-default uk-width-1-2 uk-button-danger">Get Spotify playlist</button>
                        {% endif %}
                    </div>
                    <form id="sp_playlists" class="uk-overflow-auto">
                    </form>
                </div>
                <!-- footer -->
                <div class="uk-card-footer uk-text-center">
                    {% if kkbox_outh_status %}
                        <button id="search_btn" class="uk-button uk-button-default uk-width-1-2 uk-button-primary">Search in KKBOX</button>
                    {% else %}
                        <button id="search_btn" class="uk-button uk-button-default uk-width-1-2 uk-button-danger">Search in KKBOX</button>
                    {% endif %}
                </div>
            </div>

            <!-- step4 -->
            <div class="uk-card uk-card-default uk-margin-bottom">
                <!-- status -->
                {% if kbl_status == "success" %}
                    <div id="step4_status" class="uk-card-badge uk-label uk-label-success" uk-tooltip="success">STEP4</div>
                {% else %}
                    <div id="step4_status" class="uk-card-badge uk-label uk-label-danger" uk-tooltip="failed">STEP4</div>
                {% endif %}
                <!-- header -->
                <div class="uk-card-header">
                    <h3 class="uk-text-center uk-card-title">Select tracks</h3>
                </div>
                <!-- body -->
                <div class="uk-card-body">
                    <div id="search_detail" method="POST">
                        <div class="uk-text-center">Nothing here :(</div>
                    </div>
                </div>
                <!-- footer -->
                <div class="uk-card-footer uk-text-center">
                    {% if kbl_status == "success" %}
                        <button id="download_btn" class="uk-button uk-button-default uk-width-1-2 uk-button-primary">Download kbl</button>
                    {% else %}
                        <button id="download_btn" class="uk-button uk-button-default uk-width-1-2 uk-button-danger">Download kbl</button>
                    {% endif %}
                </div>
            </div>
            <p id="download_detail"></p>
        </div>
    </body>

</html>