<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Spotify2KKBOX</title>
    </head>

    <body>
        <h1>Spotify2KKBOX</h1>
        <h3>1. OAuth</h3>
        <form action="{{ url_for('login') }}" method="POST">
            <button name="platform" type="submit" value="spotify">Spotify</button>
            <button name="platform" type="submit" value="kkbox">KKBOX</button>
        </form>
        <p>Spotify: {{ spotify_outh_status }}</p>
        <p>KKBOX: {{ kkbox_outh_status }}</p>
        <hr>
        <h3>2. Upload kbl file</h3>
        <form id="upload_kbl" enctype="multipart/form-data" method="POST">
            <input name="file" type="file">
        </form>
        <button id="upload_kbl_btn" type="button">Upload</button>
        <p>status: <span id="kbl_status">{{ kbl_status }}</span></p>
        <p>kkbox_ver: <span id="kbl_kkbox_ver">{{ kbl_kkbox_ver }}</span></p>
        <p>package_ver: <span id="kbl_package_ver">{{ kbl_package_ver }}</span></p>
        <p>package_descr: <span id="kbl_package_descr">{{ kbl_package_descr }}</span></p>
        <p>package_packdate: <span id="kbl_package_packdate">{{ kbl_package_packdate }}</span></p>
        <hr>
        <h3>3. Spotify playlist</h3>
        <a href=# id='get_sp_playlist'>Get playlist</a>
        <form id="spotify_playlist" method="POST"></form>
        <button id="search_btn" type="button">Search in KKBOX</button>
        <hr>
        <h3>4. Select tracks</h3>
        <div id="search_detail" method="POST"></div>
        <button id="convert_btn" type="button">Convert to kbl</button>
        <hr>
        <div id="convert_detail" method="POST"></div>
    </body>

</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{url_for('static', filename='spotify.js')}}"></script>
<script src="{{url_for('static', filename='kbl.js')}}"></script>
<script src="{{url_for('static', filename='convert.js')}}"></script>